/* здесь используйте глобальные переменные */
$bg-color-green: #68b738;


$oswald-font: "Oswald", "Arial", sans-serif;
$lato-font: "Lato", "Arial", sans-serif;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
