.additional-products {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.additional-products__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__heading-wrapper {
  overflow: hidden;
  margin-right: -20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -113px;
    margin-right: -110px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.additional-products__heading {
  display: inline-block;
  vertical-align: middle;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 37px;
    margin-top: 74px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    margin-top: 70px;
  }
}

.additional-products__heading-wrapper::before {
  @media (min-width: $tablet-width) {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: $bg-color-green;
    position: relative;
    margin-left: -100%;
    left: 0;
    top: -4px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
    left: -37px;
  }
}

.additional-products__heading-wrapper::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: $bg-color-green;
  position: relative;
  margin-right: -100%;
  right: -36px;
  top: -7px;

  @media (min-width: $tablet-width) {
    top: -4px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
  }
}

.additional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-right: 81px;
  }
}

.additional-products__offer {
  width: 100%;
  max-width: 1920px;
  background-image: url("../../images/bg-cat-house-mobile@2x.png");
  background-size: 280px auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #62a53a;
  margin: 0 auto;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    background-image: url("../../images/bg-cat-house-tablet@2x.png");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background-image: url("../../images/bg-cat-house-desktop@2x.png");
    background-size: 245px 288px;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #62a53a;
    margin: 0;
  }
}

.additional-products__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding-top: 187px;
  padding-bottom: 43px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 71px 125px 69px 0;
    text-align: left;
    position: static;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 41px 43px;
    text-align: center;
    position: relative;
  }
}

.additional-products__text::before {
  background-image: url("../../icons/stack.svg#icon-gift");
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
  top: 58px;
  left: 50%;
  margin-left: -39px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.additional-products__offer::before {
  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#icon-gift");
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    top: 56px;
    left: 79px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../icons/stack.svg#icon-gift");
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    top: 58px;
    left: 50%;
    margin-left: -39px;
  }
}
