.advantages__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.advantages__list {
  list-style-type: none;
}

.advantages__item {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
