.catalog-container {
  padding: 0 40px;
  min-width: 1300px;
  margin: 0 auto;
}

.catalog-container__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
