.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(180deg, #ffffff 574px, #eaeaea 462px);
    background-repeat: no-repeat;
    background-size:
      100% 574px,
      100% 462px;
    background-position: center top;
  }

  @media (min-width: $desktop-width) {
    height: 598px;
    background-image: linear-gradient(180deg, #ffffff 138px, #eaeaea 138px);
    background-repeat: no-repeat;
    background-size:
      100% 100%,
      100% 460px;
    background-position: left top;
  }
}

.example__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.example__heading {
  font-family: $oswald-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
    margin-bottom: 55px;
    max-width: 805px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 146px;
    margin-bottom: 69px;
    max-width: 433px;
  }
}

.example__list-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 367px;
    grid-template-columns: 1fr;
  }
}

.example__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__item {
  min-height: 56px;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 72px;
    width: 162px;
    margin-right: 43px;
  }
}

.example__item:last-child {
  margin-right: 0;
}

.example__term {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-transform: lowercase;
  width: 86px;
  padding: 0 14px;
  position: absolute;
  bottom: -14px;
  left: 18px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    bottom: -6px;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__term--weight {
  @media (min-width: $tablet-width) {
    width: 116px;
    padding: 0 10px;
    left: 21px;
  }
}

.example__term--time {
  @media (min-width: $tablet-width) {
    width: 145px;
    padding: 0 10px;
    left: 7px;
  }
}

.example__description {
  display: block;
  font-family: $oswald-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 15px;
  }
}

.example__total {
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 34px 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
    width: 180px;
    text-align: right;
    margin-top: 11px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
    width: 367px;
    text-align: center;
  }
}

.example__total span {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-left: 66px;
  }
}
