.example {
  background-color: #eaeaea;
}

.example__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__list {
  list-style-type: none;
  display: flex;
}

.example__term {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-transform: lowercase;
}

.example__description {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__total {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
