.location {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location__map iframe {
  border: none;
  display: block;
  width: 100%;
  background-image: image-set("../../images/map-mobile@1x.png" 1x, "../../images/map-mobile@2x.png" 2x);
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: image-set("../../images/map-tablet@1x.png" 1x, "../../images/map-tablet@2x.png" 2x);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background-image: image-set("../../images/map-desktop@1x.png" 1x, "../../images/map-desktop@2x.png" 2x);
  }
}

.location__contacts {
  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    height: 199px;
    padding: 60px 78px 60px 80px;
    position: absolute;
    background-color: #ffffff;
    left: 110px;
    top: 95px;
  }
}

.location__contacts--catalog {
  background-color: #f2f2f2;

  @media (max-width: $mobile-width-only) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    top: 95px;
  }
}
