.product-card__heading {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.product-card__list {
  list-style-type: none;
}

.product-card__term {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__description {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__text {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
