.slider {
  max-width: 280px;
  margin: 0 auto;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
    padding-top: 102px;
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin: 0;
    padding-bottom: 85px;
  }
}

.slider__wrapper {
  position: relative;
}

.slider__image {
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 256px;
  overflow: hidden;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    height: 512px;
    background-image: linear-gradient(180deg, #ffffff 153px, #eaeaea 153px);
    background-repeat: no-repeat;
    background-size:
      100% 100%,
      100% 356px;
    background-position: left top;
  }

  @media (min-width: $desktop-width) {
    height: 598px;
    background-image: linear-gradient(180deg, #ffffff 138px, #eaeaea 138px);
    background-repeat: no-repeat;
    background-size:
      100% 100%,
      100% 460px;
    background-position: left top;
  }
}

.slider__button {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 257px;
  border-radius: 2px;
  background-color: #666666;
  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;
}

.slider__button::after {
  position: absolute;
  content: "";
  mask-image: url("../../icons/stack.svg#slider-arrow");
  mask-repeat: no-repeat;
  background-color: #666666;
  width: 24px;
  height: 18px;
  left: -10px;
  top: 120px;

  @media (min-width: $tablet-width) {
    top: 247px;
  }
}

.slider__button:hover {
  background-color: $bg-color-green;
}

.slider__button:active {
  background-color: rgba(94, 170, 47, 0.6);
}

.slider__button:hover::before {
  border-color: $bg-color-green;
}

.slider__button:hover::after {
  background-color: $bg-color-green;
}

.slider__button:active::before {
  border-color: rgba(94, 170, 47, 0.6);
}

.slider__button:active::after {
  background-color: rgba(94, 170, 47, 0.6);
}
